@keyframes loadingSlide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}



/* ========================================= */
/* SYNCED HEART ROTATION */
/* ========================================= */

@keyframes heartRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(1.08);
    }

    50% {
        transform: rotate(180deg) scale(1);
    }

    75% {
        transform: rotate(270deg) scale(1.08);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.animate-heart-rotate {
    animation: heartRotate 1.0s linear infinite;
}

